html { background-color: #008383; }
body {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #056ec5;
    border-radius: 12px;
    background-color: white;
}